@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FCB030;
}
.formulaire
{
	width: 600px;
	margin-top: 20px;
	margin-bottom: 20px;	
	background: #2f363e;
	box-shadow: 25px 25px 75px rgba(0,0,0,0.25), 
	10px 10px 70px rgba(0,0,0,0.25),
	inset 5px 5px 10px rgba(0,0,0,0.5),
	inset 5px 5px 20px rgba(255,255,255,0.2),
	inset -5px -5px 15px rgba(0,0,0,0.75);
	border-radius: 30px;
	padding: 50px;
}
.formulaire h3
{
	color: white;
	font-weight: 600;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.Box
{
	margin-bottom: 20px;
}
.Box span
{
	display: inline-block;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.75em;
	border-left: 2px solid white;
	padding-left: 4px;
	line-height: 1em;
}
.Box .box
{
	display: flex;
}
.Box .box .icon
{
	width: 45px;
	height: 40px;
	background: #F1A92f;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-right: 10px;
	color: white;
	font-size: 1.15em;
	box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
	inset 2px 2px 5px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
}
.Box select
{
	padding-left: 4px;
	border-radius: 30px;
}
.Box textarea
{
	padding-left: 6px;
	padding-top: 4px;
	border-radius: 5px;
}
.Box .radio
{
	display: inline-block;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.75em;
	padding-left: 4px;
	line-height: 1em;	
}
.Box .box input
{
	width: 100%;
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 30px;
	box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
	inset 2px 2px 5px rgba(0,0,0,0.35),
	inset -3px -3px 5px rgba(0,0,0,0.5);
}

.Box .box input[type='submit']
{
	background: #F1A92f;
	box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
	inset 2px 2px 5px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	margin-top: 10px;
	height: 50px;
}
.Box .box input[type='submit']:hover
{
	filter: brightness(1.1);
}
.Box .box input[type='reset']
{
	background: light_grey;
	transition: 0.5s;
	box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
	inset 2px 2px 5px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	margin-top: 10px;
	width: 200px;
	margin-left: 10px;
}
.Box .box input[type='reset']:hover
{
	background: red;
	transition: 0.5s;
}
.Box .box a
{
	background: light_grey;
	transition: 0.5s;
	box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
	inset 2px 2px 5px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	margin-top: 10px;
	width: 200px;
	margin-left: 10px;
}
.Box .box a:hover
{
	background: red;
	transition: 0.5s;
}
hr
{
	width: 30%;
	margin: auto;
	border: none;	
	border-top: 2px solid #F1A92f;
}
.Box .img input[type='file']
{
	color:#D61D51;
}
.produit .text .titre {
    text-transform: uppercase;
}
.produit .text .description {
    color: rgba(0,0,0,0.6);
    font-size: 16px;
}
.produit .text .stock{
	color: red;
	font-size: 8px;
}